input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-5 h-5 -mt-half-4 bg-green-500 shadow-lg rounded-full cursor-pointer;
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  @apply w-5 h-5 bg-green-500 shadow-lg rounded-full cursor-pointer;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  @apply w-5 h-5 bg-green-500 shadow-lg rounded-full cursor-pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  @apply h-3 bg-transparent cursor-default;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  @apply h-3 bg-transparent cursor-default;
}

input[type='range']::-moz-range-track {
  @apply h-3 bg-transparent cursor-default;
}

input[type='range']::-ms-track {
  @apply h-3 bg-transparent cursor-default;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  @apply h-3 bg-transparent cursor-default;
}

input[type='range']:focus::-ms-fill-lower {
  @apply h-3 bg-transparent cursor-default;
}

input[type='range']::-ms-fill-upper {
  @apply h-3 bg-transparent;
}

input[type='range']:focus::-ms-fill-upper {
  @apply h-3 bg-transparent;
}
